:root {
  font-family: Arial, Helvetica, sans-serif;
  --orange: #fba526;
  --light-gray: #1e1e1e;
  --dark-gray: #121212;
  --blue: #1565c0;
  --highlight: #1e323a;
  --red: #e53935;
  --light: #f3f3f3;
  --white: #fdfdfd;
  --pink: #e1cdc5;
  --transparent: rgba(255, 0, 0, 0);
}
body,
html {
  scroll-behavior: smooth;
}
#title {
  display: flex;
  text-decoration: none;
}
.info {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url(/img/877952.jpg);
  color: var(--dark-gray);
}
.info-filter {
  background-color: rgb(71, 71, 71);
}
.info-box {
  margin: 10vw;
  background-color: var(--light-gray);
  padding: 16px;
  border-radius: 8px;
  color: var(--light);
}
.main {
  color: var(--dark-gray);
}
.box {
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.35);
  background-color: var(--white);
  border-radius: 5px;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 10px;
}

body {
  margin: 0px;
  background-color: var(--light);
  color: var(--dark-gray);
}
h1 {
  padding-left: 16px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: unset;
  color: var(--light);
}
h2 {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  color: var(--blue);
  background-color: var(--highlight);
  margin-bottom: 5rem;
}
.info-box h2 {
  margin-bottom: 0%;
  background-color: var(--light-gray);
}
header {
  display: flex;
  background-color: var(--transparent);
  transition: all 0.3s ease;
}
.my-nav {
  padding-right: 2.5rem;
  display: flex;
  margin-left: 2rem;
  transition: all ease 0.4s;
}
.my-nav.active {
  margin-right: 250px;
}
.my-nav .my-nav-cell {
  color: var(--light);
  transition: all 0.7s ease 0s;
  padding: 1rem;
  text-decoration: none;
}
.sidebar {
  background: rgb(21, 101, 192);
  background: linear-gradient(
    180deg,
    rgba(21, 101, 192, 1) 21%,
    rgba(66, 142, 245, 1) 43%,
    rgba(74, 172, 209, 1) 62%,
    rgba(171, 204, 167, 1) 83%
  );
  border-right: 1px solid #eee;
}

.sidebar ul {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
}

.navigation-bar.scroll {
  background-color: var(--blue);
}
.navigation-bar {
  justify-content: space-between;
}
.navbar-stacked a {
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease 0s;
  margin: 0;
  color: var(--white);
  padding: 1rem;
}
.navbar-stacked a:hover {
  background-color: rgba(221, 221, 221, 0.26);
}
.my-nav .my-nav-cell:hover {
  background-color: rgba(221, 221, 221, 0.26);
}
.my-nav .my-nav-cell:active {
  color: var(--red);
}
.contents {
  padding: 20px;
  border-bottom: solid;
  border-width: 3px;
  color: var(--blue);
  margin: 5px;
}
.contents img {
  padding-right: 1rem;
}
.fixed-top {
  position: fixed;
  width: 100%;
}
.rank-id {
  padding-right: 50px;
}
.my-button {
  cursor: pointer;
}
.close-custom {
  transition: all ease 0.65s;
  background-color: var(--red);
}
.close-custom:hover {
  background-color: var(--red);
  filter: grayscale(25%);
}
.depth-image {
  display: flex;
  justify-self: center;
}
button {
  border: transparent;
  background-color: transparent;
  padding: 0.75rem;
}
button:focus {
  outline: none;
}
.navbar-bar {
  display: block;
  width: 22px;
  height: 1px;
  border-radius: 1px;
  background: #fff;
  margin: 5px;
}
@media (max-width: 1000px) {
  .my-nav .my-nav-cell {
    display: none;
  }
}
@media (max-width: 720px) {
  .my-nav.active {
    margin-right: 100px;
  }
}
@media (max-width: 550px) {
  .my-nav.active {
    margin-right: 0px;
  }
}
